.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.darkMode div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.darkMode div:hover {
  cursor: pointer;
  color: #646567;
}
